@import url('https://fonts.googleapis.com/css?family=Dela+Gothic+One');
*{
	font-family: 'Dela Gothic One', sans-serif !important;
  font-size: 18px;
  color: #ffff00;
}

#main-container{
  text-align: center;
  width: 358px;
  max-width: 358px;
}

#top{
  height: 145px;
}

#iksik{
  padding-top: 50px;
}

#dono{
padding-top: 40px;
  font-size: 25px;
  color: #ffff00;
}

#mid{
  padding-top: 35px;
  padding-left: 50px;
  padding-right: 50px;
}

#alert-user-message{
  overflow: auto;
  font-size: 12px  !important;
}

#alert-message{
  padding-top: 35px !important;
  padding-left: 50px !important;
  padding-right: 50px !important;
  font-size: 18px !important;
  color: #ffff00 !important;
}

#kreska{
  padding-top: 60px;
}

.dont-break-out {

  /* These are technically the same, but use both */
  overflow-wrap: break-word;
  word-wrap: break-word;

  -ms-word-break: break-all;
  /* This is the dangerous one in WebKit, as it breaks things wherever */
  word-break: break-all;
  /* Instead use this non-standard one: */
  word-break: break-word;

  /* Adds a hyphen where the word breaks, if supported (No Blink) */
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;

}
